
/*  colores */
$bg: rgb(253, 253, 253);
$black: rgb(0, 0, 0);
$color-borde-noticia:aqua;
$azul: rgba(9, 113, 250, 0.863);



$color-titulos :$black ;

$color-subtitulos: $bg;

$lightblue : lighten($azul, 20);

$col-num : 12;




$tablet: 700px;
$desktop: 1024px;
$phone: 400px;


